@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    width: 51%; /*default value i take 63*/
   /* border:solid gray;*/
    border-radius:300px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor:pointer;
}
.nav-list{
width:100%;
/*background-color:black;*/
display: flex;
align-items: center;
}

.nav-list li{
    list-style: none;
    padding:25px;
    margin:8px;
    font-size: 20px;
    font-family:'Ubuntu', sans-serif;

}

.nav-list li a{
    text-decoration: none;
    color:white;
    


}
.nav-list li a:hover{
    text-decoration: none;
    color:red;

}
.background{
    background: rgb(0, 0, 0, 0.7) url('bg1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}


.firstsection{
    height: 100vh;
}
.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
   /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    max-width: 50%;
    margin:auto;
    font-family: 'Ubuntu', sans-serif;
    height: 80%;
}
.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secondHalf{
    width: 50%;
    margin: 10px;
}
.secondHalf img{
   border: solid black;
   border-radius: 5px;
   display: block;
   margin: auto;
   height:260px;
}

.text-big{
font-size: 41px;

}

.twxt-small{
    font-size:15px;
}

.secRight{
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;  
    color:hsl(209, 88%, 25%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
    
}


.paras{
    padding: 0 65px;
}
.thumbnail img{
    width:370px;
    height:350px;
    border:2px solid blanchedalmond;
    border-radius: 6px;
}

.contact{
    background-color: whitesmoke;
    height: 833px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     /*'Ubuntu', sans-serif;*/
    font-size: 33px;
    color:hsl(209, 88%, 25%);
}

.text-center{
    text-align: center;
    padding-top: 7px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.form{
    max-width: 1200px;
    margin:30px auto;
}
 .form-input{
     margin:7px 0;
     width:100%;
     padding: 5px 13px;
     font-size: 15px;
     border: 2px solid gray;
     border-radius: 6px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border:2px solid black;
    border-radius: 18px;
    background:none;
    color:black;
    cursor:pointer;
    font-size: 17px;
}
.btn:hover{
    background-color:hsl(209, 88%, 25%);
    color: white;
}

.btn-dark{
    color:black;
    border:2px solid gray;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

.ptt {
	display: inline-block;
	padding: 9px 35px;
	color:black;
	background-color: transparent;
	border: 2px solid black;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
	border-radius: 17px;
    text-decoration: none;
}
.ptt:hover{
    color:white;
    background-color: hsl(209, 88%, 25%);

}

h2{
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    font-family: 'Ubuntu', sans-serif;
}

.lbl-nm{
    font-size: 15px;
}

.grn{
    color:hsl(209, 88%, 25%);
     
}

.proje{
    text-align: center;
    margin-top: 20px;
    color:hsl(209, 88%, 25%);
}

#About{
    margin-top: 55px;
}

.ptm {
	display: inline-block;
	padding: 2px 35px;
	color:black;
	background-color:gainsboro;/*#88941e;*/
	border: 2px solid black;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
	border-radius: 7px;
    text-decoration: none;
}
.ptm:hover{
    color:white;
    background-color: hsl(209, 88%, 25%);

}
.imgFluid{
    border:1px black;
}